<div class="layout">
    <h1></h1>
    <div class="nav">
        <h1>Quick Kart</h1>
        <ul>
            <li routerLink="/admindashboard"><i class="bi bi-bar-chart-line-fill"></i> Dashboard</li>
            <li routerLink="/layout"><i class="bi bi-grid-1x2-fill"></i> Layout</li>
            <li routerLink="/delivery"><i class="bi bi-truck" style="font-size: 22px;" ></i> Orders</li>
            <li routerLink="/product"><i class="bi bi-inboxes-fill"></i>Products</li>
            <li routerLink="/employee"><i class="bi bi-person-fill-gear" style="font-size: 19px;"></i>Employees</li>
        </ul>
        <button (click)="logout()">LOGOUT</button>
    </div>
    <div class="content" *ngIf="isLoading" style="height: 100%; justify-content: center;align-items: center; display: flex;">
        <div class="spinner" ></div>
    </div>
    <div class="content" *ngIf="!isLoading">
       <div class="left">

       </div>
       <div class="right">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Persion</th>
                        <th>Message</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="margin-top: 15px;" *ngFor="let message of feedbackData">
                    <td>{{message.Name}} <br>
                        {{message.Email}}</td>
                    <td>{{message.Message}}</td>
                </tbody>
            </table>
        </div>
       </div>
    </div>
</div>