.account {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1D693;
    position: relative;
}

.profileRound {
    width: 25vh;
    height: 25vh;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    bottom: -13vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.account .bottom {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

h1,
p {
    padding: 2vh;
}

.buttons {
    display: flex;
    margin-top: 2vh;
    width: 100%;
    justify-content: center;
}

.buttons .orders {
    border: 2px solid #c95e29;
    height: 7vh;
    width: 25vh;
    margin: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
}

.buttons .orders:hover {
    background-color: #c95e29;
    color: white;
}

.buttons .wishlist:hover {
    background-color: #c95e29;
    color: white;
}

.buttons .wishlist {
    border: 2px solid #c95e29;
    justify-content: center;
    display: flex;
    height: 7vh;
    width: 25vh;
    margin: 2vh;
    align-items: center;
    border-radius: 1vh;
}

.bottom button {
    background-color: #c95e29;
    color: #fff;
    padding: 2vh;
    border: none;
    border-radius: 0.6vh;
    margin-top: 10vh;
}

#user {
    font-size: 20vh;
}

#topic {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topic i {
    font-size: 5vh;
    padding-left: 3vh;
    color: beige;
}

#topic i {
    color: #c95e29;
}

.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-top: 10px solid #c95e29;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.deliveryDiolog {
    position: absolute;
    top: 5vh;
    height: 90vh;
    width: 30%;
    z-index: 100;
    border-radius: 2vh;
    background-color: #f3f3f3;
}

.deliveryDiolog .navigation {
    width: 90%;
    height: 12vh;
    padding-inline: 5%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #dddddd;
}

.deliveryDiolog .orders {
    width: 100%;
    height: 100%;
}
.deliveryDiolog .orders .container {
    background-color: #f3f3f3;
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

.deliveryDiolog .orders .container .card {
    width: 100%;
    height: 30vh;
    background-color: #eee;
    display: flex;
    border-bottom: 1px solid #dddddd;
}

.deliveryDiolog .orders .container .card .left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deliveryDiolog .orders .container .card .left img{
  width: 100%;
  height: 90%;
}

.deliveryDiolog .orders .container .card .right {
    max-width: 50%;
    max-height: 100%;
    padding: 5%;
    position: relative;
}

.deliveryDiolog .orders .container .card .right .cancelOrder {
    display: flex;
    width: 90%;
    justify-content: center;
    position: absolute;
    bottom: 1vh;
}

.deliveryDiolog .orders .container .card .right .cancelOrder button {
    background-color: #c92929;
    color: #fff;
    padding: 1vh;
    border: none;
    border-radius: 0.6vh;
}

.deliveryDiolog .navigation .back:hover {
    background-color: #c95e29;
    color: #fff;
    padding: 1vh;
    border-radius: 2vh;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 767px) {
    #title {
        display: none;
    }

    #topic i {
        margin-top: 1vh;
    }

    .deliveryDiolog {
        height: 100vh;
        width: 100%;
        top: 0;
        border-radius: 0;
    }

    .deliveryDiolog .navigation {
        height: 7vh;
        position: static;
        z-index: 100;
        background-color: #dddddd;
        top: 0;
    }

    .deliveryDiolog .orders .container .card {
        height: 20vh;
    }
}
