<div class="loading"  *ngIf="isLoading">
    <div class="spinner"></div>
</div>
<div class="account" *ngIf="!isLoading">
    <div id="topic">
        <i class="bi bi-arrow-left-circle-fill" (click)="isDiolog = false; this.router.navigateByUrl('/dashboard');"></i>
        <h1 id="title">User's Profile</h1>
    </div>
    <div class="top">
        <div class="profileRound" *ngIf="!picture">
            <i class="bi bi-person-fill" id="user"></i>
        </div>
        <div class="profileRound" *ngIf="picture" [style.background-image]="'url(' + picture + ')'">
           
        </div>
    </div>
    <div class="bottom" >

        <h1 >Hey! {{ name }}</h1>
        <p >{{ email }}</p>
        <p *ngFor="let user of userData">{{ user.number }}</p>

        <h1 *ngFor="let user of userData">Hey! {{ user.name }}</h1>
        <p *ngFor="let user of userData">{{ user.email }}</p>
        <p *ngFor="let user of userData">{{ user.number }}</p>
        <div class="buttons">
            <div class="orders" (click)="isDiolog = true">
                <i class="bi bi-truck"></i>
                <p>Orders</p>
            </div>
            <div class="wishlist"  (click)="isWhishlistDiolog = true">
                <i class="bi bi-heart"></i>
                <p>Wishlist</p>
            </div>
        </div>
        <button (click)="logout()">LOGOUT</button>
    </div>
    <div class="deliveryDiolog" *ngIf="isDiolog">
        <div class="navigation">
            <div class="back" (click)="isDiolog = false" style="display: flex; align-items: center;">
                <i class="bi bi-arrow-left" style="font-size: 3vh;margin: 1vh;"></i>
            </div>
            <div class="title">
                <h3>Orders</h3>
            </div>
        </div>
        <div class="orders">
            <div class="container">
                <div class="card" *ngFor="let data of OrderData">
                    <div class="left">
                        <img [src]="data.imgUrl" alt="img">
                    </div>
                    <div class="right">
                        <h3>{{data.productName}}</h3>
                        <div class="" style="display: flex; justify-content: space-around; width: 100%; margin-block: 2vh;">
                            <h5>{{data.productPrice}}/-</h5>
                            <h5>{{data.quantity}}</h5>
                            <h5>= {{data.grandTotal}}/-</h5>
                        </div>
                        <h5  *ngFor="let user of userData">To {{ data.userName }}</h5>
                        <h5>{{data.Address}}</h5>
                        <div class="cancelOrder">
                            <button (click)="cancelOrder(data.id)">cancel order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="deliveryDiolog" *ngIf="isWhishlistDiolog">
        <div class="navigation">
            <div class="back" (click)="isWhishlistDiolog = false" style="display: flex; align-items: center;">
                <i class="bi bi-arrow-left" style="font-size: 3vh;margin: 1vh;"></i>
            </div>
            <div class="title">
                <h3>Wishlists</h3>
            </div>
        </div>
    </div>
</div>