<div class="mobile">

</div>
<div class="dashboard">
    <div class="titlebar">
        <h1>Quick kart</h1>
        <div class="right">
            <div class="supportAndAccount1">
                <div class="icon">
                    <i class="bi bi-headset"></i>
                </div>
                <div class="text">
                    <h4>Support</h4>
                    <p>+91 9360733323</p>
                </div>
            </div>
            <div class="supportAndAccount2" (click)="this.router.navigateByUrl('/account');">
                <div class="icon">
                    <i class="bi bi-person"></i>
                </div>
                <div class="text">
                    <h4>Account</h4>
                    <p>sign in</p>
                </div>
            </div>
        </div>
    </div> <!---------------Title Bar Ends------------->

    <div class="searchBar" [ngClass]="{ 'sticky': isSticky }">
        <i class="bi bi-list-ul" id="menu"></i>
        <select [(ngModel)]="selectedCategory" (change)="filterProductsByCategory()">
            <option value="all">All Categories ▼</option>
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
        <input type="text" type="text" [(ngModel)]="searchTerm" (keyup)="searchProducts()"
            placeholder="🔎︎  Search product...">
        <button>Search</button>
        <i id="refresh" class="bi bi-arrow-repeat" style="padding-inline: 3vh; border-right: 1.5px solid #f6b931;"
            (click)="reload()"></i>
        <i class="bi bi-heart" style="padding-left: 3vh;"></i>
        <p style="padding-right: 3vh; border-right: 1.5px solid #f6b931;">11</p>
    </div>
    <!---------------Search Bar Ends------------->
    <div class="slider-container">
        <div class="slider-wrapper" [style.transform]="'translateX(' + offsetX + 'px)'">
            <div class="slider-slide"
                [style.background-image]="'linear-gradient(90deg, rgba(0,0,0,0.9),rgba(0,0,0,0.0),rgba(0,0,0,0.0),rgba(0,0,0,0.9)),url(' + banners?.banner1 + ')'">
                <div class="spinner" *ngIf="isLoading"></div>
            </div>
            <div class="slider-slide"
                [style.background-image]="'linear-gradient(90deg, rgba(0,0,0,0.9),rgba(0,0,0,0.0),rgba(0,0,0,0.0),rgba(0,0,0,0.9)),url(' + banners?.banner2 + ')'">
                <div class="spinner" *ngIf="isLoading"></div>
            </div>
            <div class="slider-slide"
                [style.background-image]="'linear-gradient(90deg, rgba(0,0,0,0.9),rgba(0,0,0,0.0),rgba(0,0,0,0.0),rgba(0,0,0,0.9)),url(' + banners?.banner3 + ')'">
                <div class="spinner" *ngIf="isLoading"></div>
            </div>
        </div>
        <button class="slider-button left" (click)="slideLeft()"><i class="bi bi-chevron-compact-left"></i></button>
        <button class="slider-button right" (click)="slideRight()"><i class="bi bi-chevron-compact-right"></i></button>
    </div>
    <div class="products">
        <div class="products-container">
            <div class="card" id="card" *ngIf="isLoading">
                <div class="spinner"></div>
            </div>
            <div class="card" id="card" *ngIf="isLoading">
                <div class="spinner"></div>
            </div>
            <div class="card" id="card" *ngIf="isLoading">
                <div class="spinner"></div>
            </div>

            <div class="card" *ngFor="let product of filteredProducts" (click)="openProduct(product)">
                <div class="image">
                    <img src="{{product.imgUrl}}" alt="product-img">
                </div>
                <div style="display: flex;position: relative; flex-direction: column; padding:2vh">
                    <ul style="list-style: none;">
                        <li style="font-size: 3vh;">{{product.Name}}</li>

                        <div *ngIf="product.Stock > 0">
                            <li style="font-size: 12px; margin: 1vh;">{{ product.Stock }} - items only left</li>
                        </div>
                        <div *ngIf="product.Stock === 0">
                            <li style="font-size: 12px; margin: 1vh; color: red;">Out of Stock</li>
                        </div>
                    </ul>
                    <ul id="Cardprice"
                        style="display: flex; list-style: none; align-items: center; justify-content: space-around; width: 100%;">
                        <li style="font-size: 3vh;">{{product.Price}}/-</li>
                        <li style="font-size: 14px; color: rgb(255, 96, 96);"><s>{{product.OriginalPrice}}</s></li>
                        <li style="font-size: 12px; color: green;">{{product.Offer}}% </li>
                    </ul>
                    <ul
                        style="position: absolute;align-items: center;justify-content: space-evenly; width: 100%; bottom: 10%;list-style: none; display: flex;">
                        <li>
                            <div *ngIf="product.Stock > 0">
                                <button
                                    style="color: #fff; border: none;padding-inline: 5vh; z-index: 5; padding-block: 1vh; background-color: rgb(0, 119, 255); border-radius: 0.7vh;"
                                    (click)=" openProduct(product); openProductDiolog = false; openPaymentDiolog = true">Buy</button>
                            </div>
                            <div *ngIf="product.Stock === 0"> <button style="color: #fff; border: none;padding-inline: 5vh; z-index: 5; padding-block: 1vh;   background-color: rgb(0, 119, 255);opacity: 0.5;
                                    cursor: not-allowed; border-radius: 0.7vh;">Buy</button>
                            </div>
                        </li>
                        <li>
                            <i *ngIf="!product.wishlist" (click)="toggleWishlist(product.id)" class="bi bi-heart"></i>
                            <i *ngIf="product.wishlist" (click)="toggleWishlist(product.id)" class="bi bi-heart"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="openProductDiolog" class="details">
        <div class="cancelButton" (click)="openProductDiolog = false">
            <button><i class="bi bi-x-square"></i></button>
        </div>
        <div class="left">

            <div class="image">
                <img src="{{diologData.imgUrl}}" alt="productImg">
            </div>

            <div class="buttons" *ngIf="diologData.Stock > 0">
                <button (click)=" openProductDiolog = false; openPaymentDiolog = true" style="z-index: 10000;">Buy<i
                        class="bi bi-cart4"></i></button>
                <button style="background-color: #ffae00;">wishlist <i class="bi bi-heart"></i></button>
            </div>

            <div class="buttons" *ngIf="diologData.Stock === 0">
                <button style="z-index: 10000;opacity: 0.5; cursor: not-allowed;">Buy<i
                        class="bi bi-cart4"></i></button>
                <button style="background-color: #ffae00;">wishlist <i class="bi bi-heart"></i></button>
            </div>

        </div>
        <div class="right">

            <div class="title">

                <h1>{{diologData.Name}}</h1>

                <div *ngIf="diologData.Stock > 0">
                    <p>{{diologData.Stock}} Items only left</p>
                </div>

                <div *ngIf="diologData.Stock === 0">
                    <p style="color: red;">Out of stock</p>
                </div>

                <h1>{{diologData.Price}}/-</h1>
                <h2><s>{{diologData.OriginalPrice}}</s></h2>
                <h5>{{diologData.Offer}}% offer</h5>

            </div>
            <div class="review">
                <div class="textbox">
                    <input type="text" placeholder="Send your reviews..." [(ngModel)]="postMessage">
                    <i class="bi bi-send-fill" (click)="sendReview();"></i>
                </div>
                <div class="content">
                    <div class="card" *ngFor="let review of diologData.review">
                        <h4 style="margin-top:2px">{{review.user}}</h4>
                        <p style="font-weight: 100; font-size: 11px; padding: 5px;">{{review.message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="payment" *ngIf="openPaymentDiolog">
        <div class="title">
            <h2>PAYMENT</h2>
        </div>
        <div class="textFields">
            <form>
                <input type="text" placeholder="Plot / Door no." name="doorno" [(ngModel)]="doorno">
                <input type="text" placeholder="Street Name" name="street" [(ngModel)]="street">
                <input type="text" placeholder="City / Town" name="city" [(ngModel)]="city">
                <input type="number" placeholder="Pincode" name="pincode" [(ngModel)]="pincode">
                <p style="color: red;">{{showError}}</p>
            </form>
            <div class="amount">
                <div class="detail">
                    <div class="productName">
                        <p>{{diologData.Name}}</p>
                        <p>Shipping Fee</p>
                    </div>
                    <div class="productPrice">
                        <p>{{diologData.Price}}/-</p>
                        <p>0/-</p>
                    </div>
                </div>
                <div class="quantity">
                    <h3>Quantity</h3>
                    <div class="quantity-control">
                        <button (click)="decreaseQuantity()">-</button>
                        <span class="quantity">{{ quantity }}</span>
                        <button (click)="increaseQuantity()">+</button>
                    </div>
                </div>
                <p style="color: red;" id="paymentError">{{showStockIssue}}</p>
                <div class="total">
                    <h3>Grand Total</h3>
                    <h3>{{grandTotal}}/-</h3>
                </div>
            </div>
        </div>
        <div class="actions">
            <button style="background-color: red;" (click)="performPaymentCancel()"
                *ngIf="!isPlaceOrderLoading">Cancel<i class="bi bi-x-square"></i></button>
            <button (click)="validation();" *ngIf="!isPlaceOrderLoading">Place Order <i
                    class="bi bi-cart4"></i></button>
            <div class="spinner" *ngIf="isPlaceOrderLoading"></div>
        </div>
    </div>
</div>