.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #051960;
    align-items: center;
}

.content {
    width: 80%;
    height: 75vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: rgb(247, 251, 255);
}

.nav button, #change {
    padding-inline: 2vh;
    padding-block: 2vh;
    background-color: #1442e9;
    color: #fff;
    border: none;
    border-radius: 1vh;
}

.nav button:hover, #change:hover  {
    background-color: #102a85;
}

.nav h1 {
    padding-block: 3vh;
    color: aliceblue;
}

.nav ul {
    padding-block: 15vh;
    color: aliceblue;
    list-style: none;
    text-align: center;
}

.nav ul li {
    padding-block: 2.5vh;
    font-size: 3vh;
    padding-inline: 50vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.nav ul li:hover, .nav ul li:nth-child(2){
    background-color: #1442e9;
}
.nav ul li i {
    padding-inline: 1vh;
}

.layout-content {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-content .left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout-content .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout-content .left h3, .right h3 {
    font-weight: 100;
    margin-bottom: 1vh
}

.layout-content .left .img{  
    min-width: 45vh;
    min-height: 15vh;
    margin: 2vh;
    background-color: aliceblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.layout-content .right input{
    margin: 1vh;
    padding: 1vh;
    padding-left: 2vh;
width: 70%;
height: 4vh;
border: none;
background-color: rgb(194, 194, 248);
border-radius: 1vh;
}

#change {
    margin-top: 4vh;
}