<div class="product">
    <h1></h1>
    <div class="nav">
        <h1>Quick Kart</h1>
        <ul>
            <li routerLink="/admindashboard"><i class="bi bi-bar-chart-line-fill"></i> Dashboard</li>
            <li routerLink="/layout"><i class="bi bi-grid-1x2-fill"></i> Layout</li>
            <li routerLink="/delivery"><i class="bi bi-truck" style="font-size: 22px;"></i> Orders</li>
            <li routerLink="/product"><i class="bi bi-inboxes-fill"></i>Products</li>
            <li routerLink="/employee"><i class="bi bi-person-fill-gear" style="font-size: 19px;"></i>Employees</li>
        </ul>
        <button (click)="logout()">LOGOUT</button>
    </div>
    <div class="content">
        <div class="search">
            <div class="filter-dropdown" style="display: flex;">
                <select id="categorySelect" [(ngModel)]="selectedCategory" name="selectedCategory" (change)="filterProductsByCategory()">
                    <option value="all">All Categories ▼</option>
                    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                </select>
            </div>
            <input type="text" [(ngModel)]="searchTerm" (keyup)="searchProducts()"
            placeholder="🔎︎  Search product...">
        </div>
        <div class="products-container">
            <div class="card" *ngFor="let product of filteredProducts">
                <div class="image">
                   <img style="height: 95%; width: 95%;" src="{{product.imgUrl}}" alt="product-img">
                </div>
                <div style="display: flex; flex-direction: column; padding:2vh">
                    <ul style="list-style: none;">
                        <li style="font-size: 5vh;">{{product.Name}}</li>
                        <li>{{product.PID}}</li>
                        <li> STOCK - {{product.Stock}}</li>
                    </ul>
                    <ul style="display: flex; margin-top: 3vh; list-style: none; align-items: center; justify-content: space-around; width: 100%;">
                        <li style="font-size: 4vh; margin: 1vh;">{{product.Price}}/-</li>
                        <li style="font-size: 3.5vh; color: rgb(124, 136, 146);margin: 1vh;"><s>{{product.OriginalPrice}}</s></li>
                        <li style="font-size: 3vh;margin: 1vh;">{{product.Offer}}%</li>
                    </ul>
                    <p style="margin-top: 3vh;">Last updated by {{product.lastChanges}}</p>
                </div>
            </div>
        </div>
    </div>
</div>