/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Gotham;
    src: url('assets/fonts/GothamMedium.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: Gotham !important;
}

/* Hide the default number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

input {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}